body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%; 
    background-color: black; 
    color: whitesmoke;
}

header {
    background-color: rgb(0, 0, 0);
    font-family: fantasy;
    font-style: italic;
    font-size: 20px; 
    text-align: center; 
    color: hotpink;  
    text-shadow: 3px 5px 3px whitesmoke;
}

header h1 {
    margin: 0;
}

nav {
    background-color: hotpink;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: smaller;
    font-weight: lighter;
}

nav a:hover {
    text-decoration: underline;
}

main h1 {
    text-align: center;
    font-family: cursive;
    color: hotpink;
    font-style: italic;
    font-variant: small-caps;
    text-shadow: 3px 3px 5px whitesmoke;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.sidebar {
    width: 30%;
    font-size: 15px;
}

.sidefig {
    margin: 0;
}

.sidefig img {
    width: 100%;
}

.side {
    font-size: 15px;
}

.card {
    width: 200px;
    border-radius: 5px;
}

.card h2 {
    margin: 3px 0;
    font-size: 20px;
    font-weight: lighter;
}

.cardfig {
    margin: 0;
}

.cardfig img {
    width: 100%;
    font-size: 10px;
}


footer {
    color: ghostwhite;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(12, 12, 12);
    }
    nav {
        flex-direction: column;
    }
    nav a {
        border-bottom: thin solid snow;
        align-items: center;
    }
    .row {
        flex-flow: column wrap;
    }
    .card {
        width: 95%;
    }
    main {
        color: azure;
    }
    .sidebar {
        width: 95%;
        order: 1;
    }
    
}

@media only print{
    body {
        font-family: 'Courier New', Courier, monospace;
    }
    nav {
        display: none;
    }
}
