body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: black;
    margin: 0%;
    background-image: url(DBLOGO.jpg);
    background-attachment: fixed;
    background-position: center;
    flex-wrap: wrap;
}

header {

    background-color: rgba(255, 68, 0, 0.960);
    border: 5px solid orangered;
    font-family: fantasy;
    font-size: 20px; 
    text-align: center;   
    text-shadow: 3px 5px 3px rgb(255, 255, 255);
    padding: 15px;
}

h1 {
    margin: 0;
    color: black;
}

h2 {
    text-align: center;
    color: orangered;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid rgba(0, 0, 139);
    margin-top: 0px;
    font-size: 15px;
    background-color: rgba(0, 0, 139, 0.900);
}

nav a {
    display: block;
    padding: 5px;
    background-color: rgba(0, 0, 139, 0.960);
    text-decoration: none;
    color: white;
    font-family: cursive;
}

nav a:hover {
    text-decoration: underline;
    background-color: darkblue;
}

.current { 
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}
.current1 {
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}
.current2 {
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}
.current3 {
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}
.current4 {
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}  
.current5 {
    font-family: cursive; font-size: 15px; color: orangered;
    background-color: whitesmoke;
}   

main p {
    background-color: rgba(255, 255, 255, 0.960);
    color: black;
    font-size: larger;
    font-family: cursive;
    padding: 5px;
    border: 5px thin solid black;;
    margin: 20px auto;
    display: block;
}

main ul {
    background-color: rgba(255, 255, 255, 0.960);
    color: black;
    font-size: larger;
    font-family: cursive;
    width: 550px;
    padding: 15px;
    border: thick solid black;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.405);
    display: block;
    margin: 20px auto;
    padding: 5px 15px 15px 30px;
}

.legendary {
    color: darkblue;
    font-weight: bolder;
    font-size: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    border: thin solid orangered;
    width: 700px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.960);
}

.card h2 {
    margin: 3px 0;
}

.cardfig {
    margin: 0;
}

.cardfig img {
    font-size: 10px;
    width: 60%;
    float: left;
    padding: 10px;
}

.card a {
    display: block;
    padding: 3px 5px;
    background-color: indianred;
    color: whitesmoke;
    margin: 5px;
    border-radius: 5px; 
}

.roster {
    background-color: rgba(245, 245, 245, 0.673);
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkblue;
}

caption {
    font-family: cursive;
    font-size: 20px;
    color: darkblue;
    padding: 10px;
    font-weight: bolder;
}

legend {
    padding: 10px;
    background-color: darkblue;
    color: orangered;
    border: 5px black;
    font-weight: bolder;
}


.formrow, .checkrow {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    color:darkblue;
    font-size: larger;
    font-weight: bolder;
}

.formrow label {
    width: 150px;
    text-align: right;
}

.spacer {
    width: 150px;
    text-align: right;
}

input:not([type="submit"]), select, textarea {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.459);
}

input:not([type="submit"]):focus, select:focus, textarea:focus {
    background-color: whitesmoke;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: orangered;
    color: snow;
}

#comment {
    height: 200px;
    width: 500px;
    border: 2px solid black;
}

::placeholder {
    color: black;
    font-style: italic;
}

fieldset {
    border: 5px solid orangered;
}

legend {
    padding: 10px;
}

footer {
    font-family: cursive; font-size: 12px; text-align: center;
    background-color: rgba(255, 68, 0, 0.414);
    color: black;
    border: 5px solid whitesmoke;
    font-weight: bolder;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: azure;
        flex-flow: nowrap;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        border-bottom: thin solid snow;
        align-items: center;
    }
    .row {
        flex-flow: column nowrap;
    }
    .card {
        width: 95%;
    }
    .formrow, .checkrow {
        flex-direction: column;
    }
    .formrow label {
        text-align: left;
    }
    .spacer {
        text-align: left;
    }
}



@media only print{
    body {
        font-family: 'Courier New', Courier, monospace;
    }
    nav {
        display: none;
    }
}